.btn{
    background-color: crimson;
    color: white;
    width: 100px;
    height: 40px;
    
}

cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box{
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


